[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "sources/poky"]
	path = sources/poky
	url = https://github.com/yoctoproject/poky.git
[submodule "sources/meta-jsr"]
	path = sources/jsr
	url = git@github.com:sb-sanath/LDD-yocto.git